html, body
  margin 0
  padding 0
  width 100%
  height 100%

body
  background-color #4e947c
  background-size cover
  background-position center
  font 14px 'microsoft yahei'
  color #333333
  font-weight 500


.el-header {
	background-color: #569f86;
	color: #fff;
	border: 0px solid yellow;
  min-height: 48px;
  line-height: 48px;
}

.el-footer {
	background-color: #7dba6a;
	color: #fff;
	text-align: center;
}


.el-main {
	width: 100%;
	height: 570px;
	padding:10px;
	white-space: nowrap;
	overflow: hidden;
	overflow-x: auto;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
	-webkit-overflow-scrolling: touch; /* 2 */
	text-align: justify; /* 3 */
	&::-webkit-scrollbar {
			display: block;
	}

	border:0px solid #000;
 }

 .ghost {
   opacity: .1;
 }


 body > .el-container {
     margin-bottom: 0px;
 }

/* 灰白的提示文字 不重要的信息样式 */
.textDesc{
  font-size: 1em;
  font-weight:320;
  color: #a8a8a8;
}

.icon_normal{
  color:#4d4d4d;
}
/* loading 通用样式*/
.normalLoading{
  text-align:center;
  line-height:100px;
  border:0px solid red;
}
.emptyInfo{
  text-align:center;
  display:flex;
  flex-direction:column;
  line-height:60px;
  padding-bottom:12px;
  border:0px solid red;
}
